/* ./css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0; /* Márgenes superior e inferior */
    padding: 0;
    background-color: #1a1a1a; /* Dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Altura mínima igual al viewport */
    color: #fff; /* Light text color */
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

button {
    display: inline-block;
    padding: 12px 24px; /* Increased padding for buttons */
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Slightly larger font size */
}

button:hover {
    background-color: #0056b3;
}

#buttonContainer {
    margin: 20px 40px; /* Márgenes superior e inferior para el contenedor de botones */
}

/* Ensure backButton is fixed at the bottom */
#backButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;
}

#backButton:hover {
    background-color: #0056b3;
}
